
*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background: #f0f0f0;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  transition: ease 0.4s;
}
nav a:hover{
  background-color: #f0f0f0;
}
/*moves logo to left side of nav bar*/
nav li:first-child{
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: auto;
}
/*sidebar menu for mobile devices*/
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
/*hides navbar items on mobile devices with a pre-determined max pixel width*/
@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
}
/*sidebar takes up entire screen width on mobile devices*/
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
/*grid format of class enrollment images when using large screens*/
@media screen and (min-width: 960px){
  .classes-wrapper{
    max-width: 960px;
    margin: 0 auto;
  }
  .classes-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
  }
  .project{
    width: 100%;
    height: 300px;
    text-decoration: none;
    margin: 0;
  }
  .project figure {
    position: relative;
    overflow: hidden;
  }
  .project figure img{
    position: relative;
    z-index: 999;
    transition: transform 0.4s;
  }
  .project figure:hover img {
    transform: translateY(-90px);
  }
  .project figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 60px;
    width:100%
  }
}
/*class enrollment image gallery*/
.classes-section{
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0 0 4em;
}
.project{
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 1em 0;
  cursor: pointer;
}
figure{
  margin:0;
  padding:0;
}
.project figure img{
  width: 100%;
  display: block;
  object-fit: cover;
  height: 300px;
}
.project figcaption{
  padding: 1em;
  background: #966116;
  color: #fff;
}
.project h3{
  color: white;
  margin: 0;
}
.cta {
  margin: .5em 0;
}
.cta:after {
  
  display: inline-flex;
  margin: 0 0 .5em .5em;
}